<IfModule mod_rewrite.c>
  RewriteEngine On

  # Memaksa pengunjung untuk selalu menggunakan HTTPS (SSL)
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Menangani client-side routing (berguna untuk React/Vite SPA)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [QSA,L]
</IfModule>
